@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RelativityAzurePojekt.Models.RatedMovie

<!DOCTYPE html>
<html>
<head>
    <title>Movie Details</title>
</head>
<body>
    <h2>Movie Details</h2>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.movie.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movie.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movie.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.ReleaseDate)
        </dd>
        <dd>
            <b>Rating</b><br/>
            @if (Model.ratingAvg == 0)
            {
                <text>N/A</text>
            }
            else
            {
                @Html.DisplayFor(model => model.ratingAvg)
            }
        </dd>
    </dl>

    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.movie.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
