@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<RelativityAzurePojekt.Models.RatedMovie>

<!DOCTYPE html>
<html>
<head>
    <title>Movie List</title>
</head>
<body>
    <h2>Movie List</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().movie.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().movie.ReleaseDate)
                </th>
                <th>
                    <a>Rating</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ratedMovie in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Description", "Movie", new { id = ratedMovie.movie.ID })">
                            @Html.DisplayFor(modelItem => ratedMovie.movie.Title)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ratedMovie.movie.ReleaseDate)
                    </td>
                    <td>
                        @if (ratedMovie.ratingAvg == 0)
                        {
                            <text>N/A</text>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => ratedMovie.ratingAvg)
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("MovieReviews", "Review", new { id = ratedMovie.movie.ID })">Show reviews</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
         @if (Context.Session.GetInt32("userAuthenticated") == 1)
         {
                @Html.ActionLink("Add New Movie", "Create")
         }
    </p>
</body>
</html>